/*div {
	border: solid 1px red;
}*/
body {
	margin: 0px;
}

p {
	font-family: 'Courier New';
	font-size: 1em;
	text-align: justify;
	color:rgb(4,32,55);
}

li {
	padding: 10px;
	font-family: "Courier New";
}

a{
	color: white;
	text-decoration: none;
}


h1 {
	font-family: 'Courier New';
	font-size: 3em;
	border-bottom: 2px solid rgb(4,32,55);
	border-right: 2px solid rgb(4,32,55);
	width:500px;
	text-align: center;
	box-shadow: 4px 4px 5px #888888;
}

footer {
	margin-top: 10px;
	text-align: center;
}


/*CONTAINER*/

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 30px;
	border-bottom: solid 1px black;
	box-shadow: 4px 4px 5px #888888;
	padding-bottom: 10px;
}

.container-column {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin: 30px;
	padding: 20px;
	border-bottom: solid 1px black;
	box-shadow: 4px 4px 5px #888888;
	padding-bottom: 10px;
}



.zone {
    /*padding:30px 50px;*/
    cursor:pointer;
    color:#FFF;
    font-size:1em;
    border-radius:4px;
    border:1px solid #bbb;
    transition: all 0.3s linear;
}

.zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}


/*NAV*/

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}
.main-nav {
	display: grid;
	list-style: none;
	margin:0;
	font-size:0.9em;
	grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
}



/*IMAGE*/

img {
	width: 450px;
	height: 300px;
	margin: 10px;
	transition: all 1s;
}

img:hover{
	transform: scale(1.1);
}

.large-img-bar {
	width: 800px;
	height: 500px;
}

.large-img-pie {
	width: 700px;
	height: 600px;
}


.paragraph {
	width: auto;
	height: auto;
	padding-left: 100px;
	padding-right: 100px;
}

.long {
	width: 450px;
	height: 300px;
	overflow: auto;
}

ol > li {
	padding: 5px;
}

.container > p {
	margin : 10px;
}

/*COLOR*/
.blue{
    background: #7abcff; /* Old browsers */
    background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* IE10+ */
    background: linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C */
}

